@import './utils/variables';
@import './utils/mixin';
@import './utils/breakpoints';
@import './utils/common';
@import './utils/container';
@import './utils/section';
@import './utils/is-hiden';

@import './components/button';
@import './components/modal-movie';
@import './components/pagination';
@import './components/footer';

@import './layouts/library-header';
@import './layouts/library-grid';
@import './layouts/main-header';
@import './layouts/main-grid';

@import './components/modal-movie';
@import './components/trailer';
// @import './src/sass/layouts/library-header';
@import './src/sass/layouts/spinner';

@import './components/modal-team';


@import './layouts/spinner';
// @import './layouts/scroll';
@import './layouts/top';
@import './layouts/dark-theme';
