@mixin for-phone {
  @media (max-width: 767px) {
    @content;
  }
}
@mixin for-tablet {
  @media (min-width: 768px) and (max-width: 1279px) {
    @content;
  }
}
@mixin for-desktop {
  @media (min-width: 1280px) {
    @content;
  }
}
@mixin for-tablet-phone {
  @media (min-width: 768px) and (max-height: 500px) {
    @content;
  }
}