<section class="library__container">
    <div class="message"></div>
    <ul class="list library__list">

        <!-- ПРИБРАТИ ТІЛО СПИСКУ З HTML  -->
        <!-- <li class="library__item" data-id="">
            <div class="library__poster">
                <img src="https://image.tmdb.org/t/p/w500/t6HIqrRAclMCA60NsSmeqe9RmNV.jpg" alt="" class="library__image" />
            </div>
            <div class="library__meta">
                <p class="library__title">Avatar: The Way of Water</p>
                <p class="library__info"><span class="library__genre">Drama, Action</span> | <span class="library__year">2022</span><span class="library__rate">10.0</span></p>
            </div>
        </li>
        <li class="library__item" data-id="">
            <div class="library__poster">
                <img src="https://image.tmdb.org/t/p/w500/vDGr1YdrlfbU9wxTOdpf3zChmv9.jpg" alt="" class="library__image" />
            </div>
            <div class="trend-movies__meta">
                <p class="library__title">Glass Onion: A Knives Out Mystery</p>
                <p class="library__info"><span class="library__genre">Drama, Action</span> | <span class="library__year">2020</span><span class="library__rate">9.0</span></p>
            </div>
        </li>
        <li class="library__item" data-id="">
            <div class="library__poster">
                <img src="https://image.tmdb.org/t/p/w500/mPywkW1dfDer6GxxTvjwOTsAVud.jpg" alt="" class="library__image" />
            </div>
            <div class="library__meta">
                <p class="library__title">Strange World</p>
                <p class="library__info"><span class="library__genre">Drama, Comedy</span> | <span class="library__year">2022</span><span class="library__rate">9.0</span></p>
            </div>
        </li> -->
    </ul>
</section> 