<header class="header-library">
  <div class="container-library-header header__wrapper">
    <nav class="header__nav">
      <a href="/src/index.html" class="logo-btn">
        <svg width="24" height="24">
          <use href="/src/images/sprite.svg#icon-film"></use>
        </svg>
        <span class="logo-btn__text">Filmoteka</span>
      </a>
      <ul class="header__menu">
        <li class="menu__item">
          <a href="/src/index.html" class="menu__link">Home</a>
        </li>
        <li class="menu__item">
          <a href="/src/library.html" class="menu__link active">My library</a>
        </li>
      </ul>
    </nav>
    <div class="library-header__btn-list">
      <button type="button" class="library-header__btn">Watched</button>
      <button type="button" class="library-header__btn">Queue</button>
    </div>
  </div>
</header>
