<header class="header">
  <div class="container header__wrapper">
    <nav class="header__nav">
      <a href="/src/index.html" class="home"
        ><svg class="home__icon">
          <use href="/src/images/sprite.svg#icon-film"></use>
        </svg>
        <span class="filmoteka">Filmoteka</span></a
      >
      <ul class="header__menu">
        <li class="menu__item">
          <a href="/src/index.html" class="menu__link active">HOME</a>
        </li>
        <li class="menu__item"><a href="" class="menu__link">MY LIBRARY</a></li>
      </ul>
    </nav>
    <form class="form">
      <span class="search-wrapper"
        ><input
          type="text"
          class="search"
          name="searchQuery"
          placeholder="Movie search" /><svg class="search__icon">
          <use href="/src/images/sprite.svg#icon-search"></use></svg
      ></span>
    </form>
  </div>
</header>
