<header class="header header--main">
    <div class="header__container">
      <a href="/src/index.html" class="logo"
            ><svg class="logo__icon">
              <use href="/src/images/sprite.svg#icon-film"></use>
            </svg>
            <span class="filmoteka">Filmoteka</span></a
      >
      <div class="nav__container">
        <nav class="header__nav"></nav>
          <ul class="header__menu">
            <li class="menu__item">
              <a href="/src/index.html" class="menu__link active">Home</a>
            </li>
            <li class="menu__item">
              <a href="/src/library.html" class="menu__link">My library</a>
            </li>
          </ul>
        </nav>
        <button type="button" class="log-in-button menu__button">Log in</button>
        <button type="button" class="sign-out-button menu__button is-hidden">Sign out</button>
      </div>
      <button type="button" class="test-btn1 button--header">set</button>
      <button type="button" class="test-btn2 button--header">remove</button>
      <button type="button" class="test-btn3 button--header">get</button>
    </div>
    <form class="form">
      <span class="search-wrapper"
        ><input
          type="text"
          class="search"
          name="searchQuery"
          placeholder="Movie search" />
        <button class="search__submit" type="submit">
          <svg class="search__icon">
            <use href="/src/images/sprite.svg#icon-search"></use>
          </svg></button
      ></span>
    </form>
    <div class="header__toggle">
      <input type="checkbox" name="theme" id="darkmode-toggle" class="header__toggle-input" />
      <label for="darkmode-toggle" class="header__toggle-label">
        <svg class="icon-theme-sun" width="25" height="25">
          <use href="/src/images/sprite.svg#icon-sun"></use>
        </svg>
        <svg class="icon-theme-moon" width="20" height="20">
          <use href="/src/images/sprite.svg#icon-moon"></use>
        </svg>
      </label>
    </div>

</header>
