<section class="trend-movies trend-movies__container">
  <ul class="list trend-movies__list">
    <!-- ПРИБРАТИ ТІЛО СПИСКУ З HTML -->
    <!-- <li class="trend-movies__item" data-id="">
            <div class="trend-movies__poster">
                <img src="https://image.tmdb.org/t/p/w500/t6HIqrRAclMCA60NsSmeqe9RmNV.jpg" alt="" class="trend-movies__image" />
            </div>
            <div class="trend-movies__meta">
                <p class="trend-movies__title">Avatar: The Way of Water</p>
                <p class="trend-movies__info"><span class="trend-movies__genre">Drama, Action</span> | <span class="trend-movies__year">2022</span></p>
            </div>
        </li>
        <li class="trend-movies__item" data-id="">
            <div class="trend-movies__poster">
                <img src="https://image.tmdb.org/t/p/w500/vDGr1YdrlfbU9wxTOdpf3zChmv9.jpg" alt="" class="trend-movies__image" />
            </div>
            <div class="trend-movies__meta">
                <p class="trend-movies__title">Glass Onion: A Knives Out Mystery</p>
                <p class="trend-movies__info"><span class="trend-movies__genre">Drama, Action</span> | <span class="trend-movies__year">2020</span></p>
            </div>
        </li>
        <li class="trend-movies__item" data-id="">
            <div class="trend-movies__poster">
                <img src="https://image.tmdb.org/t/p/w500/mPywkW1dfDer6GxxTvjwOTsAVud.jpg" alt="" class="trend-movies__image" />
            </div>
            <div class="trend-movies__meta">
                <p class="trend-movies__title">Strange World</p>
                <p class="trend-movies__info"><span class="trend-movies__genre">Drama, Comedy</span> | <span class="trend-movies__year">2022</span></p>
            </div>
        </li>
        <li class="trend-movies__item" data-id="">
            <div class="trend-movies__poster">
                <img src="https://image.tmdb.org/t/p/w500/1XSYOP0JjjyMz1irihvWywro82r.jpg" alt="" class="trend-movies__image" />
            </div>
            <div class="trend-movies__meta">
                <p class="trend-movies__title">Violent Night</p>
                <p class="trend-movies__info"><span class="trend-movies__genre">Drama</span> | <span class="trend-movies__year">2022</span></p>
            </div>
        </li> -->
  </ul>
</section>
