.footer__section {
    padding-bottom: 30px;
    padding-top: 28px;
    display: block;
    background-color: #F7F7F7;
    margin: 0;


  // Tablet
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
  }

  // PC
  @media screen and (min-width: 1200px) {
    // margin-bottom: 29px;
    display: flex;
    justify-content: center;
  }
}

.footer__copyright {
    position: relative;
    display: flex;
    background-color: transparent;
    justify-content: space-around;
    margin-top: 29px;
    margin-bottom: 10px;
    
}

.footer__dev {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-left: 3px;

     // Tablet
  @media screen and (min-width: 768px) {
    margin-top: 30px;
  }

  // PC
  @media screen and (min-width: 1200px) {
    margin-top: 29px;
    display: flex;
  }
}


.footer__heart {
    margin-left: 10px;
    margin-right: 10px;
}

.footer__icon-b {
    animation: beat-y 0.8s linear infinite alternate-reverse;
    -webkit-animation: beat-y 0.8s linear infinite alternate-reverse;
}
@keyframes beat-b {
0% {
    transform: scale(0.5);
}
50% {
    transform: scale(1);
}
100% {
    transform: scale(1.2);
}
}
@-webkit-keyframes beat-b {
  0% {
      transform: scale(0.5);
  }
  50% {
      transform: scale(1);
  }
  100% {
      transform: scale(1.2);
  }
  }

  .footer__icon-y {
    animation: beat-y 0.8s linear infinite alternate;
    -webkit-animation: beat-y 0.8s linear infinite alternate;
}
@keyframes beat-y {
0% {
    transform: scale(0.5);
}
50% {
    transform: scale(1);
}
100% {
    transform: scale(1.2);
}
}
@-webkit-keyframes beat-y {
  0% {
      transform: scale(0.5);
  }
  50% {
      transform: scale(1);
  }
  100% {
      transform: scale(1.2);
  }
  }