.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #0000005d;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.movie {
  position: relative;
  z-index: 200;


  @include for-tablet {
      display: flex;
      width: 704px;
      padding: 40px 36px;
      gap: 68px;
      background-color: $header-white-color;
  }

  @include for-desktop {
      width: 806px;
      gap: 16px;
      padding: 40px 12px;   
      background-color: $header-white-color;
  }

  &__wrapper {
    @include for-tablet{
        width: 264px;}

        @include for-desktop{width: 50%;}
      }

  &__img-wrapper {
        @include for-tablet{
            margin-right: 68px;}
    
            @include for-desktop{width: 50%;}
          }

  &__template {
    @include for-tablet{
    display: flex;}

    @include for-desktop {
      display: flex;}
  }

  &__img {
    width: 240px;
    height: 357px;

    @include for-tablet{
      width: 264px;
      height: 373px;
    }
    @include for-desktop{
      width: 375px;
      height: 478px;
    }
  }

  &__header {
    @include font(20px, 500 23px);
    margin-bottom: 20px;

    @include for-desktop{
      @include font(30px, 500, 35px);
    }
  }

  &__grid {
    margin-bottom: 20px;
    @include font(12px, 500, 16px);
  }

  &__row {
    display: flex;
    margin-bottom: 8px;
  }

  &__info {
    width: 50%;
    color: #8c8c8c;
  }

  &__info-value {
    width: 50%;
  }

  &__rating {
    display: inline-block;
    text-align: center;
    background-color: #ff6b01;
    color: $header-white-color;
    border-radius: 5px;
    padding: 1px 0;
    width: 36px;
    height: 16px;
  }
  

  &__header-about {
    @include font(12px, 500, 16px);
    text-transform: uppercase;
    margin-bottom: 8px;
  }
  &__about {
    @include font(12px, 500, 20px);
    margin-bottom: 20px;
  }
  &__buttons-wrapper {
    display: flex;
    justify-content: space-between;

    @include for-desktop{
      justify-content: start;
      padding-left: 8px;
      gap: 15px;
    }
  }
}

.close-modal {
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 1px 0 0 2px;
  background-color: transparent;
  cursor: pointer;
  transition: background-color $primary-cubic 250ms;
  &:hover,
  &:focus {
    background-color: $card-text-accent;

  }
}

.modal {
  @include for-phone{position: fixed;
  transform: translate(0,0);
  width: auto; left: 0; right: 0;
  height: auto; top: 0; bottom: 0;
  z-index: 110; 
  padding: 20px; 
  background-color: $header-white-color;
  width: 280px;

  padding: 48px 20px 40px 20px;
  margin-right: auto;
  margin-left: auto;}
}

.modal-outer {
  @include for-phone{box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -o-box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 120;}
}

.modal-inner {
  @include for-phone{box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -o-box-sizing: border-box;
  width: 100%;
  max-height: 100%; 

  overflow-x: hidden;
  overflow-y: auto;}
}  