.icon-theme-sun {
  fill: white;
  width: 21px;
  height: 21px;
  padding-top: 2px;
}
.icon-theme-moon {
  fill: black;
  width: 18px;
  height: 18px;
  padding-bottom: 1px;
}

.header__toggle {
  display: flex;
  justify-content: end;
  text-align: center;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}
.header__toggle-label {
  top: 25px;
  width: 55px;
  height: 25px;
  position: relative;
  display: block;
  background: #ebebeb;
  border-radius: 200px;
  border: 1px solid $text-color-on-dark-theme;
  cursor: pointer;
  transition: 0.3s;

  &:after {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    top: 1px;
    left: 2px;
    background: linear-gradient(180deg, #eac4a9, #eb6708);
    border-radius: 180px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
  }
}

.header__toggle-input {
  width: 0;
  height: 0;
  visibility: hidden;
}

.header__toggle-input:checked + .header__toggle-label {
  background: #242424;
}

.header__toggle-input:checked + .header__toggle-label:after {
  left: 51px;
  transform: translateX(-100%);
  background: linear-gradient(180deg, #777, #3a3a3a);
}

.header__toggle-label:active:after {
  width: 26px;
}

.header__toggle-input:checked + .header__toggle-label + .background {
  background: #242424;
}

// THEME

body.light-theme {
  background-color: $header-white-color;
  color: $card-text-color;
}

body.dark-theme {
  background-color: $dark-background;
  color: $text-color-on-dark-theme;

  .footer__section,
  .goit-students,
  .tui-page-btn,
  .tui-next,
  .tui-prev,
  .genre,
  .modal,
  .movie-card__title,
  .description__film,
  .description__text,
  .popularity__value,
  .title__value,
  .genre__value {
    color: $text-color-on-dark-theme;
  }
  .tui-page-btn:hover {
    color: $text-color-on-dark-theme;
  }

  .modal__container,
  .genre,
  .movie,
  .modal-authorisation {
    background-color: #2e2d31;
  }
  .team__item {
    background-color: #69696db5;
  }
  .footer__section {
    background-color: rgb(33, 31, 35);
  }
  .movie,
  .modal__container,
  .header,
  .header-library,
  .modal-authorisation {
    box-shadow: 3px 3px 10px -1px rgba(0, 0, 5, 1);
  }
  .movie-card__title {
    font-weight: 400;
  }

  .close-modal,
  .authorisation__closeBtn {
    background-color: $text-color-on-dark-theme;
  }
  .close-modal:hover,
  .authorisation__closeBtn:hover {
    background-color: $card-text-accent;
  }
  .authorisation__closeBtn {
    width: 25px;
    height: 25px;
  }
  .authorisation__input,
  .registration__input {
    color: #ebebeb;
    background-color: #262526;
    border: 1px solid black;
  }
  .authorisation__button,
  .sign-up-btn,
  .registration__button {
    color: #ebebeb;
    background-color: #262526;
    box-shadow: 3px 3px 4px -1px rgba(0, 0, 5, 1);
  }
  .authorisation__button:hover,
  .sign-up-btn:hover,
  .registration__button:hover {
    color: #1e1d1d;
    background-color: $card-text-accent;
    border: none;
  }
}
