.header-library {
    //відступ до секції
    margin-bottom: 20px;

    @media screen and (min-width: 768px) {
        margin-bottom: 60px;
    }
}

.library__container {
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    width: 100%;

    @media screen and (min-width: 440px) and (max-width: 767px) {
        width: 440px;
    }

    @include for-tablet {
        padding-left: 32px;
        padding-right: 32px;
        width: 768px;
    }

    @include for-desktop {
        padding-left: 32px;
        padding-right: 32px;
        width: 1280px;
    }
}

.library__list {
    display: flex;
    flex-direction: column;
    gap: 20px;

    margin: 0 auto;
    width: 100%;

    @include for-tablet {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 32px;
    }

    @include for-desktop {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 16px;
        row-gap: 32px;
    }
}

.library__item {
    width: 100%;

    @media screen and (min-width: 440px) and (max-width: 767px) {
        width: 400px;
    }

    @include for-tablet {
        width: calc((100% - 32px) / 2);
    }

    @include for-desktop {
        width: calc((100% - 32px) / 3);
    }
}

.library__poster {
    width: 100%;

    margin-bottom: 10px;
    cursor: pointer;

    @include for-tablet {
        height: 455px;
    }

    @include for-desktop {
        height: 574px;
    }
}

.library__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.library__title {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;

    @include for-desktop {
        font-size: 20px;
        line-height: 24px;
    }
}

.library__info {
    display: inline-flex;
    align-items: center;
    margin-bottom: 0px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: $card-text-accent;

    @include for-desktop {
        font-size: 20px;
        line-height: 24px;
    }
}

.library__genre {
    margin-right: 5px;
}

.library__year {
    margin-left: 5px;
    margin-right: 10px;
}

.library__rate {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 16px;
    min-width: 36px;
    padding: 1px 9px;

    @include for-desktop {
        height: 20px;
        padding: 3px 8px;
    }    

    background-color: $card-text-accent;
    color: white;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    border-radius: 5px;
}