.container-library-header {
  padding: 0 20px;
  max-width: 320px;
  margin: 0 auto;
}

.header {
  padding: 40px 0 60px;
  background-image: url('/src/images/library-header/mobile.jpg');
  background-size: cover;
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url('/src/images/library-header/mobile@2x.jpg');
  }
}

.header__nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 0 66px 0;
}

.header__menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: end;
  text-transform: uppercase;
}

.logo-btn__text {
  display: none;
}

.logo-btn {
  display: inline-flex;
  align-items: center;
  margin-right: auto;
}

.menu__link {
  position: relative;
  color: inherit;
  text-decoration: none;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;

  color: #ffffff;
}

.menu__item:not(:last-child) {
  margin-right: 39px;
}

.active::after {
  position: absolute;
  content: '';
  background-color: #ff001b;
  width: 100%;
  height: 3px;
  bottom: -2px;
  left: 0;
}

.library-header__btn-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.library-header__btn {
  cursor: pointer;
  width: 130px;
  height: 44;
  border-radius: 5px;
  background-color: transparent;
  color: #f7f7f7;
  text-transform: uppercase;
  border: 1px solid #f7f7f7;

  &:hover,
  &:focus {
    background-color: #ff6b08;
    color: #f7f7f7;
    border: 1px solid #ff6b08;
    box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
  }
}

.library-header__btn:not(:last-child) {
  margin-right: 20px;
}

.library-header__btn--active {
  background-color: #ff6b01;
  color: #f7f7f7;
  border: 1px solid #ff6b08;
}

@media screen and (min-width: 768px) {
  .container-library-header {
    padding: 0 32px;
    max-width: 768px;
  }

  .header {
    padding-bottom: 81px;
    background-image: url('/src/images/library-header/tablet.jpg');
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('/src/images/library-header/tablet@2x.jpg');
    }
  }

  .header__nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  .library-header__btn {
    width: 152px;
  }

  .library-header__btn:not(:last-child) {
    margin-right: 32px;
  }

  .logo-btn__text {
    display: block;
    margin-left: 10px;

    color: #ffffff;
    font-size: 30px;
    line-height: calc(35 / 30);
  }
}

@media screen and (min-width: 1200px) {
  .container-library-header {
    max-width: 1280px;
  }

  .header {
    padding-bottom: 80px;
    background-image: url('/src/images/library-header/pc.jpg');
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('/src/images/library-header/pc@2x.jpg');
    }
  }

  .header__nav {
    margin-bottom: 44px;
  }

  .library-header__btn:not(:last-child) {
    margin-right: 16px;
  }
}
