.header {
  padding: 40px 0 92px;
  background-image: url('/src/images/main-header/mobile.jpg');
  background-size: cover;
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url('/src/images/main-header/mobile@2x.jpg');
  }
}

.home {
  text-decoration: none;
  &__icon {
    width: 24px;
    height: 24px;
  }
}
.filmoteka {
  display: none;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 60px 0;
}

.menu__link {
  position: relative;
  color: inherit;
  text-decoration: none;
  font-family: 'Roboto';
  @include font(12px, 500, 14px);

  color: #ffffff;
}
.menu__item:not(:last-child) {
  margin-right: 39px;
}
.form {
  text-align: center;
}
.search {
  color: $header-white-color;
  padding: 0;
  background-color: transparent;
  border: none;
  border-bottom: 0.5px solid #ffffff;
  min-width: 100%;
  &-wrapper {
    position: relative;
  }
  &__icon {
    width: 12px;
    height: 12px;
  }
  &__submit {
    position: absolute;
    background-color: transparent;
    right: 0;
    bottom: 0;
    padding: 0;
  }
}
.search::placeholder {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;

  color: #ffffff;
}

.active::after {
  position: absolute;
  content: '';
  background-color: #ff001b;
  width: 100%;
  height: 3px;
  bottom: -2px;
  left: 0;
}
@media screen and (min-width: 768px) {
  .header {
    padding-bottom: 81px;
    background-image: url('/src/images/main-header/tablet.jpg');
    &__nav {
      display: flex;
      justify-content: space-between;
      margin-bottom: 41px;
    }
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('/src/images/main-header/tablet@2x.jpg');
    }
  }
  .home {
    display: flex;
    align-items: center;
    &__icon {
      margin-right: 10px;
    }
  }

  .filmoteka {
    display: block;

    font-family: 'Roboto';
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;

    color: #ffffff;
  }
  .search {
    min-width: 0;
    width: 336px;
  }
}
@media screen and (min-width: 1280px) {
  .header {
    padding-bottom: 80px;
    background-image: url('/src/images/main-header/pc.jpg');
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('/src/images/main-header/pc@2x.jpg');
    }
  }
  .home__icon {
    margin-right: 10px;
  }
  .header__nav {
    margin-bottom: 44px;
  }
  .search {
    width: 394px;
  }
}

.home__icon {
  animation: spin 2s linear infinite alternate-reverse;
  -webkit-animation: spin 2s linear infinite alternate-reverse;
}
@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}
@-webkit-keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}