.header {
  //відступ до секції
  margin-bottom: 20px;
  @media screen and (min-width: 768px) {
    margin-bottom: 60px;
  }
}

.movies__container {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  width: 100%;

  @media screen and (min-width: 440px) and (max-width: 767px) {
    width: 440px;
  }

  @media screen and (min-width: 768px) {
    padding-left: 32px;
    padding-right: 32px;
    width: 768px;
  }

  @include for-desktop {
    width: 1280px;
  }

  @media screen and (min-width: 1600px) {
    width: 1600px;
  }
}

.movies__list {
  display: flex;
  flex-direction: column;
  gap: 20px;

  margin: 0 auto;
  width: 100%;
  list-style: none;
  margin-bottom: 40px;
  
  @media screen and (min-width: 768px) {
    margin-bottom: 60px;
  }

  @include for-tablet {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
  }

  @include for-desktop {
    flex-flow: wrap;
    gap: 20px;
    row-gap: 32px;
  }
}

.movies__item {
  width: 100%;
  border-radius: 5px;

  @media screen and (min-width: 440px) and (max-width: 767px) {
    width: 400px;
  }

  @include for-tablet {
    width: calc((100% - 32px) / 2);
  }

  @include for-desktop {
    width: calc((100% - 40px) / 3);
  }

  @media screen and (min-width: 1600px) {
    width: calc((100% - 60px) / 4);
  }

  &:hover,
  &:focus {
    // box-shadow: 0 1px 7px 2px rgb(110 98 140 / 76%);
    transform: scale(1.03);
  }

  &:hover .movies__poster,
  &:focus .movies__poster {
    box-shadow: 0 1px 5px 2px rgb(110 98 140 / 76%);
  }

  transition: transform 0.3s $primary-cubic;
}

.movies__poster {
  width: 100%;
  margin-bottom: 10px;
  cursor: pointer;

  transition: box-shadow 0.3s $primary-cubic;
}


.movies__poster {
  width: 100%;
  margin-bottom: 10px;

  border-radius: 5px;
  cursor: pointer;
  
  @include for-tablet {
    height: 455px;
  }

  @include for-desktop {
    height: 574px;
  }

  @media screen and (min-width: 1600px) {
    height: 560px;
  }

  transition: box-shadow 0.3s $primary-cubic;
  box-shadow: 0 1px 5px 2px rgb(110 98 140 / 0%);
}

.movies__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.movies__title {
    font-family: 'Roboto';
    @include font(12px, 500, 14px);
    text-transform: uppercase;

  @include for-desktop {
    @include font(20px, 500, 24px);
  }
}

.trend-movies__info {
    margin-bottom: 0px;
    font-family: 'Roboto';
    @include font(12px, 500, 16px);
    color: $card-text-accent;

    @include for-desktop {
      @include font(20px, 500, 24px);
    }
}

.trend-movies__meta {
  padding-left: 4px;
  padding-bottom: 5px;
}

.movies__info {
  margin-bottom: 0px;
  font-family: 'Roboto';
  @include font(12px, 500, 16px);
  color: $card-text-accent;

  @include for-desktop {
    @include font(20px, 500, 24px);
  }
}
